# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

#ide
.idea

# Spark / Airflow local artifacts
data/output/
data/raw/
docker/logs/
docker/plugins/__pycache__/
docker/config/airflow.cfg

# OS
.DS_Store
docker/.env
/logs
